/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.montserrat-montser {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oswald';
    font-size: 15px;

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    }
body{
    background-color: #f6f3f3;
}



/* MOBILE HEADER */
header{
    width: 100%;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    background-color: rgb(194, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.menu_icons{
    display: flex;
    position: absolute;
    left: 15px;
    align-items: center;
}

.bars{
    display:flex;
    gap: 3px;
    flex-direction: column;
    position: absolute;
}

.bar{
    width: 23px;
    height: 4px;
    background-color: rgb(61, 61, 61);
    border-radius: 30px;


}

.close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: none;
}

.close .bar {
    position: absolute;
}

.close .bar:first-child {
    transform: rotate(45deg);
}

.close .bar:last-child {
    transform: rotate(-45deg);
}

.logolink{
    height:48px;
}

.logo{
    height:100%;
    padding-right: 5px;
}



/* MOBILE NAV */
nav {
    z-index: 1000;
    display: none;
    background-color: #cccccc;
    width: 100%;
    top: 56px;
    position: fixed;
    max-height: 0; /* Kezdetben rejtett */
    overflow: hidden; /* Rejtse el a tartalmat, ami túlcsordul */
    transition: max-height 0.3s ease-in-out; /* Animáció */
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

}

nav ul li{
    border-bottom: 3px solid #7e7e7e;
    padding: 14px 10px;

}

nav ul li a{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;

}

nav ul img{
    height: 20px;
    width: 20px;
}

nav.active {
    max-height: 336px; /* Állítsd be a megfelelő maximális magasságot */
}

nav ul li.active{
    background-color: #f0f0f0;
}


main{
    color:rgb(19, 19, 19)
}
/* JQUERY SLIDER */
.slider {
}

.slick-slide img {
    width: 100%;
    /* Kép szélessége */
}

.slick-dots li button:before {
    color: white !important;
    /* muszáj important, különben a pseudo element átírja */
}

.slick-slide {
    transition: all ease-in-out 1s;

}

.slick-active {

}

.slick-current {

}




.introduction{
    margin: 20px;
    text-align: justify;
    color:rgb(19, 19, 19);
    padding: 10px;
    background-color: white;
}
.introduction p{
    padding: 
}
.professions{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
/*PROFESSIONS*/
.profbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/index_html/static_background/bg_mid.jpg');
    background-position: center left;
    background-size: cover;
    gap: 10px;
    text-align: center;
    min-width: 250px;

}

.prof {
    margin: 10px 0; /* according to gap (same or twice the amount) */
    width: 75%;
    min-width: 250px;
    /* csak gépre
    background-image: url('images/index_html/static_background/bg_mid.jpg');
    background-attachment: fixed;
    background-size: cover; */
    color:white;

}


.text-bg{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.43);
    padding: 10px;
    min-height:150px;
}
.prof .title{
    margin-bottom: 10px;
    
}
.prof p{
    line-height: 1.4;
}


/* ABOUT */
.about h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
.about{
    text-indent: 1em;
    margin: 20px;
    background-color: #ffffff;
    padding: 10px;
}
.about p{
    margin: 8px;
}

/* FOOTER */
footer{
    text-align: right;
    height: 50px;
    background-color: #747474;
}

@media only screen and (min-width: 600px) {
    /* tablet */
    .slick-slide {
        margin: auto 5px;
    }

}
