@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: Protest;
    font-display: swap;
    src: url('fonts/ProtestRevolution-Regular.ttf');
}
*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oswald';
}
body{
    background-color: #f0f0f0;
}



/* MOBILE HEADER */
header{
    width: 100%;
    height: 48px;

}

.navbar_mobile{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 184, 184);
    width: 100%;
    height: inherit;
    z-index: 1000;
}

.menu_icons{
    display: flex;
    position: absolute;
    left: 15px;
    align-items: center;
}

.bars{
    display:flex;
    gap: 3px;
    flex-direction: column;
    position: absolute;
}

.bar{
    width: 23px;
    height: 4px;
    background-color: rgb(61, 61, 61);
    border-radius: 30px;


}

.close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: none;
}

.close .bar {
    position: absolute;
}

.close .bar:first-child {
    transform: rotate(45deg);
}

.close .bar:last-child {
    transform: rotate(-45deg);
}

.logolink{
    height:48px;
}

.logo{
    height:100%;
    padding-right: 5px;
}



/* MOBILE NAV */
nav {
    z-index: 1000;
    display: none;
    background-color: rgb(170, 170, 170);
    width: 100%;
    top: 48px;
    position: fixed;
    max-height: 0; /* Kezdetben rejtett */
    overflow: hidden; /* Rejtse el a tartalmat, ami túlcsordul */
    transition: max-height 0.3s ease-in-out; /* Animáció */
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

}

nav ul li{
    border-bottom: 3px solid #7e7e7e;
    padding: 10px;

}

nav ul li a{
    display:flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;

}

nav ul img{
    height: 20px;
    width: 20px;
}

nav.active {
    max-height: 287px; /* Állítsd be a megfelelő maximális magasságot */
}

nav ul li.active{
    background-color: #f0f0f0;
}


main{
}
/* JQUERY SLIDER */
.slider {
}

.slick-slide img {
    width: 100%;
    /* Kép szélessége */
}

.slick-dots li button:before {
    color: white !important;
    /* muszáj important, különben a pseudo element átírja */
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .5;
    opacity: .5;
}

.slick-active {
    opacity: .5;

}

.slick-current {
    opacity: 1;
}



/*PROFESSIONS*/
.introduction{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    color:rgb(85, 85, 85);
}
.professions{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.profbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/index_html/static_background/bg_mid.jpg');
    background-position: center left;
    background-size: cover;
    gap: 10px;
    text-align: center;
    min-width: 250px;

}

.prof {
    margin: 10px 0; /* according to gap (same or twice the amount) */
    width: 75%;
    min-width: 250px;
    /* csak gépre
    background-image: url('images/index_html/static_background/bg_mid.jpg');
    background-attachment: fixed;
    background-size: cover; */
    color:white;

}


.text-bg{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.43);
    padding: 10px;
    min-height:140px;
}
.prof .title{
    margin-bottom: 10px;
    
}
.prof p{
    line-height: 1.4;
}

/* FOOTER */
footer{
    height: 50px;
    background-color: #747474;
}

@media only screen and (min-width: 600px) {
    /* tablet */
    .slick-slide {
        margin: auto 5px;
    }

}
